[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11
[submodule "src/srmd-ncnn-vulkan"]
	path = src/srmd-ncnn-vulkan
	url = https://github.com/nihui/srmd-ncnn-vulkan
